/* Global styles */
* {
  margin: 0;
  font-family: 'Oswald', sans-serif;
}

h1 {
  font-size: 5vw;
  letter-spacing: 0.4em;
  margin: 0;
  font-weight: bold;
  color: white;
  font-family: 'Oswald', sans-serif;
}

h2 {
  color:white;
  letter-spacing: 0.2em;
  font-size: 3vw;
  text-align: left;
  font-weight: bold;
}

h3 {
  font-size: 2vw;
  margin: 0;
  color: white;
  font-family: 'Montserrat', sans-serif;
}


h4 {
  font-size: 2em;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

p {
  font-size: 1vw;
  font-family: 'Montserrat', sans-serif;
}

strong {
  font-weight: bolder;
}

hr {
  width: 100%;
  border: 3px solid white;
  margin: 2% 0;
  opacity: 100%;
  align-self: center;
}

body {
  background-color: #68bedb;
}

.section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 10%;
  padding-left: 10%;
  padding-right: 10%;
}

.nav-link{
  color:black;
  font-weight: bold;
}

.navbar-brand {
  font-size: 2em;
  font-weight: bolder;
  color: black;
  letter-spacing: 0.2em;
  
}

#home {
  height: 80vh;
  align-items: center;
  text-align: center;
}

#skills {
  text-align:center;
}


.skill-badge {
  background-color: white;
  border-radius: 3px;
  float: left;
  padding: 1% 3%;
  margin: 1%;
}

.skill-section > span{
  margin-right: 1%;
}


/* Social media styles */
.socials {
  padding-top: 2%;
  display: flex;
  justify-content: center;
  gap: 1rem;
 
}

.social-icon {
  font-size: 2em; 
  color: white;
}

/* About section styles */
.information {
  margin: 0;
  padding: 10%;
}

pre {
  background-color: #373737;
  padding: 0em;
  border-radius: 2em;
  line-height: 3em;
}

.about p {
  color: #BBC2C5;
  font-size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}



/* Footer styles */
footer {
  margin-top: 5%;
  text-align: center;
  color: black;
  font-size: 1em;
}

:root {
  --transition-time: 0.5s;
  --primary: #68bedb;
}

a {
  color: inherit;
}

.cards-wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3rem;
  margin: 0 auto;
  width: max-content;
}

.card-title {
  letter-spacing: 0.05em;
  padding-top: 1em;
  margin: 0;
  font-weight: bold;
  color: white;
  font-family: 'Oswald', sans-serif;
  transition: all, var(--transition-time);
}

.card {
  font-family: 'Oswald', sans-serif;
  --bg-filter-opacity: 0.5;
  background-image: linear-gradient(rgba(40,40,40,var(--bg-filter-opacity)),rgba(100,100,100,var(--bg-filter-opacity))), var(--bg-img);
  height: 20em;
  width: 15em;
  font-size: 1.5em;
  color: white;
  border-radius: 0.3em;
  padding: 1em;
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  transition: all, var(--transition-time);
  position: relative;
  overflow: hidden;
  border: 0.15em solid white;
  text-decoration: none;
}

.card:hover {
  transform: rotate(0);
}

.card h1 {
  margin: 0;
  font-size: 1.5em;
  line-height: 1.2em;
}

.card p {
  font-size: 0.75em;
  font-family: 'Montserrat', sans-serif;
  margin-top: 0.5em;
  line-height: 2em;
  transition: all, var(--transition-time);
}

.card .tags {
  display: flex;
}

.card .tags .tag {
  font-size: 0.75em;
  background: #68bedb;
  border-radius: 0.3rem;
  padding: 0 0.5em;
  margin-right: 0.5em;
  line-height: 1.5em;
  transition: all, var(--transition-time);
}

.card:hover .tags .tag {
  background: black;
  color: white;
}

.card .date {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.75em;
  padding: 1em;
  line-height: 1em;
  transition: all, var(--transition-time);
}

.card:hover .date {
  color: black;
}

.card:before, .card:after {
  content: '';
  transform: scale(0);
  transform-origin: top left;
  border-radius: 50%;
  position: absolute;
  left: -50%;
  top: -50%;
  z-index: -5;
  transition: all, var(--transition-time);
  transition-timing-function: ease-in-out;
}

.card:before {
  background: #ddd;
  width: 250%;
  height: 250%;
}

.card:after {
  background: white;
  width: 200%;
  height: 200%;
}

.card:hover .card-title,
.card:hover p {
  color: black;
}

.card:hover:before, .card:hover:after {
  transform: scale(1);
}


/* MEDIA QUERIES */
@media screen and (max-width: 1285px) {
  .cards-wrapper {
      grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 900px) {
  .cards-wrapper {
      grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 500px) {
  .cards-wrapper {
      padding: 4rem 2rem;
  }
  .card {
      max-width: calc(100vw - 4rem);
  }
}
